body {
    font-family: Montserrat, sans-serif;
    margin: 0;
    background: url("../image/Rectangle.jpg") no-repeat center top;
    background-size: 1920px 900px;
}

.wrapper img {
    margin: 0 auto;
    width: 1110px;
}
.header {
    border-bottom: 1px solid #a1a1a1;
}
.menu a {
    padding: 49px 0px 49px 0px;
}
a:hover {
    border-bottom: 2px solid #ffffff;
}

.menu {
    height: 40px;
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    margin: 40px 405px 40px 932px;
}
.navlink {
    text-decoration: none;
    color: #ffffff;
    width: 40%;
    font-size: 16px;
    font-weight: medium;
}
li {
    list-style: none;
    margin: auto 0;
}
.text {
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    white-space: nowrap;
    margin: 220px auto;
    color: #ffffff;
}
.text2 {
    text-align: center;
    font-size: 48px;
    font-weight: bold;
    color: #ffffff;
    margin: -200px auto;
    line-height: 134%;
}
.button {
    width: 200px;
    height: 45px;
    text-align: center;
    display: block;
    margin: 220px auto;
    color: #ffffff;
    background-color: #4985ff;
    border-radius: 50px;
    border: none;
    font-size: 16px;
    font-weight: bolder;
    transition: 0.3s;
}
.button:hover {
    background-color: #0038a7;
    color: #ffffff;
}
.button:active {
    background-color: #000000;
}
h1 {
    text-align: center;
    color: #323232;
    margin: 445px auto;
    font-size: 36px;
    line-height: 143%;
}
.content2 p {
    color: grey;
    font-size: 16px;
    text-align: center;
    margin: -400px;
    line-height: 158%;
}
.vector {
    margin-top: 450px;
}
.title p {
    text-align: center;
    color: grey;
    font-size: 14px;
}
.title {
    margin: -100px 100px;
    white-space: nowrap;
}
.title h3 {
    font-size: 18px;
}
.vector img {
    width: 90px;
    height: 90px;
}
.photo {
    display: flex;
    margin: 70px 385px 0px;
    justify-content: space-between;
}
#button {
    margin-top: 170px;
    margin-bottom: 200px;
}
.standart h2 {
    font-size: 36px;
    color: #323232;
    margin-bottom: 40px;
    line-height: 148%;
}
.standart p {
    font-size: 16px;
    color: gray;
    margin-bottom: 30px;
    line-height: 158%;
}
.standart {
    margin-left: 450px;
}
.standart a{
    color:#4985ff;
}
.image img {
    width: 500px;
    height: 400px;
    margin-left: 610px;
    margin-top: -350px;
}
.ourproject {
    margin-top: 160px;
    display: inline-block;
    padding: 50px;
}
.ourproject h2 {
    display: flex;
    font-size: 36px;
    font-weight: 500;
    margin-left: 48px;
    line-height: 148%;
    margin-top: -46px;
}
.ourproject img {
    width: 30px;
    height: 30px;
}
.ourproject p {
    font-size: 16px;
    margin-top: -40px;
    line-height: 158%;
}
